@background: #2C254A;
@bcsecondary: #39315C;
@bcdark: #272042;
@text: #e1e1e6;
@primary: #E0365F;
@dark: #D14151;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: @background;
  color: @text;
  font: 400 16px 'Poppins', sans-serif;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

input, select {
  outline: none;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
